.sidebar {
  padding: 1rem;
  background: #f0f0f0;
  min-width: 200px;
}

.animalList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.animalList li {
  cursor: pointer;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}

.animalList li:hover,
.active {
  background-color: #a0e8af;
  font-weight: bold;
}